.text-verde {
  color: #3aca07;
}

.bg-verde {
  background-color: #3aca07;
}

.text-limao {
  color: #c3ec21;
}

.bg-limao {
  background-color: #c3ec21;
}

.text-verdao {
  color: #497522;
}

.bg-verdao {
  background-color: #497522;
}

.text-cinza {
  color: #848c8c;
}

.bg-cinza {
  background-color: #848c8c;
}

.text-escuro {
  color: #1d1d1b;
}

.bg-escuro {
  background-color: #1d1d1b;
}

.text-xs {
  font-size: 0.7rem;
  line-height: 1rem;
}

.divider {
  background-color: white;
  height: 1px;
  width: 90%;
  margin: auto;
}
